.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  perspective: 800px;
  background: linear-gradient(45deg, #b8d7f8, #acdac3);
  overflow: hidden;
}

.run {
  display: flex;
  gap: 20px;
}

.chart-container {
  flex: 0 0 90%;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  animation: moveObjects 4s infinite alternate;
}

.chart-container:hover {
  transform: translateZ(20px);
}

@keyframes moveObjects {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0);
  }
}

.sidebar {
  flex: 0 0 30%;
}

.chart-toggle-button {
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.chart-toggle-button:hover {
  background-color: #aaa;
}

.s {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4%;
  padding: 2% 3%;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  transform: translateZ(0);
  transition: transform 0.3s ease;
  animation: moveObjects 4s infinite alternate;
}

.s:hover {
  transform: translateZ(20px);
}

@keyframes moveObjects {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.s h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  color: #333;
}

.s .form-group {
  margin-bottom: 15px;
}

.s label {
  font-weight: bold;
  color: #333;
}

.s input[type="email"],
.s input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.s .text-danger {
  color: red;
  font-size: 12px;
}

.s .btn-login {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  transition: background-color 0.3s ease;
}

.s .btn-login:hover {
  background-color: #45a049;
}
